@-webkit-keyframes intro {
  0% {
    -webkit-transform: rotateY(-180deg); }

  30% {
    -webkit-transform: rotateY(-360deg); }

  50% {
    -webkit-transform: rotateY(-360deg); }

  100% {
    -webkit-transform: rotateY(0deg); } }

@-moz-keyframes intro {
  0% {
    -moz-transform: rotateY(-180deg); }

  30% {
    -moz-transform: rotateY(-360deg); }

  50% {
    -moz-transform: rotateY(-360deg); }

  100% {
    -moz-transform: rotateY(0deg); } }

@-ms-keyframes intro {
  0% {
    -ms-transform: rotateY(-180deg); }

  30% {
    -ms-transform: rotateY(-360deg); }

  50% {
    -ms-transform: rotateY(-360deg); }

  100% {
    -ms-transform: rotateY(0deg); } }

@-o-keyframes intro {
  0% {
    -o-transform: rotateY(-180deg); }

  30% {
    -o-transform: rotateY(-360deg); }

  50% {
    -o-transform: rotateY(-360deg); }

  100% {
    -o-transform: rotateY(0deg); } }

@keyframes intro {
  0% {
    transform: rotateY(-180deg); }

  30% {
    transform: rotateY(-360deg); }

  50% {
    transform: rotateY(-360deg); }

  100% {
    transform: rotateY(0deg); } }

.js.cssanimations.csstransitions.csstransforms .index #branding {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2; }
  .js.cssanimations.csstransitions.csstransforms .index #branding a {
    -webkit-transform-style: preserve-3d;
    -webkit-transition: height 0.5s, width 0.5s, margin 0.5s, top 0.5s;
    -webkit-transition-delay: 0.625s;
    /* 50% of 1.25s */
    -webkit-animation: "intro" 1.25s 1;
    -webkit-animation-fill-mode: forwards;
    -moz-transform-style: preserve-3d;
    -moz-transition: height 0.5s, width 0.5s, margin 0.5s, top 0.5s;
    -moz-transition-delay: 0.625s;
    /* 50% of 1.25s */
    -moz-animation: "intro" 1.25s 1;
    -moz-animation-fill-mode: forwards;
    -ms-transform-style: preserve-3d;
    -ms-transition: height 0.5s, width 0.5s, margin 0.5s, top 0.5s;
    -ms-transition-delay: 0.625s;
    /* 50% of 1.25s */
    -ms-animation: "intro" 1.25s 1;
    -ms-animation-fill-mode: forwards;
    -o-transform-style: preserve-3d;
    -o-transition: height 0.5s, width 0.5s, margin 0.5s, top 0.5s;
    -o-transition-delay: 0.625s;
    /* 50% of 1.25s */
    -o-animation: "intro" 1.25s 1;
    -o-animation-fill-mode: forwards;
    transform-style: preserve-3d;
    transition: height 0.5s, width 0.5s, margin 0.5s, top 0.5s;
    transition-delay: 0.625s;
    /* 50% of 1.25s */
    animation: "intro" 1.25s 1;
    animation-fill-mode: forwards;
    left: 50%;
    top: 50%;
    margin-top: -117px;
    margin-left: -119px;
    height: 234px;
    width: 236px; }
.js.cssanimations.csstransitions.csstransforms .index #main {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -ms-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s; }
.js.cssanimations.csstransitions.csstransforms .index.dom-ready #branding a {
  height: 65px;
  width: 66px;
  top: 0%;
  margin-top: 38px;
  margin-left: -32px; }
.js.cssanimations.csstransitions.csstransforms.animation-complete .index #branding {
  height: auto; }
.js.cssanimations.csstransitions.csstransforms.animation-complete .index #main {
  height: auto;
  overflow: auto;
  opacity: 1; }

.js.csstransitions #next {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  -ms-transition: -ms-transform 0.25s;
  -o-transition: -o-transform 0.25s;
  transition: transform 0.25s; }
.js.csstransitions #prev {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  -ms-transition: -ms-transform 0.25s;
  -o-transition: -o-transform 0.25s;
  transition: transform 0.25s; }
.js.csstransitions .is-visible #next {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }
.js.csstransitions .is-visible #prev {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

/* 480 */
@media only screen and (min-width: 30em) {
  .js.cssanimations.csstransitions.csstransforms .index.dom-ready #branding a {
    width: 90px;
    height: 91px;
    margin-left: -45px;
    top: 0;
    margin-top: 26px; } }
/* 600 */
@media only screen and (min-width: 37.5em) {
  .js.cssanimations.csstransitions.csstransforms .index.dom-ready #branding a {
    width: 117px;
    height: 118px;
    margin-left: -58.5px;
    top: 0;
    margin-top: 25px; }

  #nav {
    margin-bottom: 120px; }
    #nav ul {
      padding: 1.25em 0; }
    #nav li {
      font-size: 24px;
      font-size: 1.5rem; } }
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  #branding a {
    background-image: url("/images/retina/logo.png"); } }
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'LeagueGothic';
  font-style: normal;
  font-weight: bold;
  src: url("/webfonts/League_Gothic-webfont.eot") format("embedded-opentype");
  src: url("/webfonts/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("/webfonts/League_Gothic-webfont.woff") format("woff"), url("/webfonts/League_Gothic-webfont.ttf") format("truetype"), url("/webfonts/League_Gothic-webfont.svg#webfontbDMP4rcs") format("svg"); }

html {
  font-size: 100%;
  color: #333; }

body {
  font: 16px/1.5 "Georgia", "Times New Roman", "Times", serif;
  font: normal 1rem/1.5 "Georgia", "Times New Roman", "Times", serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "LeagueGothic", Arial, sans-serif;
  text-transform: uppercase;
  margin: 0; }

h1 {
  font-size: 78px;
  font-size: 4.875rem;
  line-height: 1; }

h2 {
  font-size: 58px;
  font-size: 3.625rem;
  line-height: 0.84;
  margin-bottom: -0.2em;
  margin-top: 0; }

h3 {
  font-size: 42px;
  font-size: 2.625rem;
  margin-top: 1.28em;
  margin-bottom: -0.56em;
  line-height: 1.1428571429; }
  .client-list + h3 {
    margin-top: 1.38em; }

h4 {
  font-size: 28px;
  font-size: 1.75rem;
  margin-bottom: 0;
  line-height: 1.2; }

h5 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 0;
  line-height: 1.333; }

h6 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 0;
  line-height: 1.5; }

p {
  margin-top: 1.125em;
  margin-bottom: 1.5em; }

.section-intro {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 1.33333333em;
  margin-top: 0.66666667em;
  line-height: 1.3333333; }

#branding {
  margin-top: 0;
  margin-bottom: 0; }

#branding a {
  position: absolute;
  top: 38px;
  left: 50%;
  margin-left: -32.5px;
  overflow: hidden;
  display: block;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 65px;
  height: 66px;
  background: transparent url("/images/retina/logo.png") no-repeat 0 0;
  border-bottom: 0 none;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  z-index: 3;
  -webkit-transition: -webkit-transform 0.15s;
  -moz-transition: -moz-transform 0.15s;
  -ms-transition: -ms-transform 0.15s;
  -o-transition: -o-transform 0.15s;
  transition: transform 0.15s; }
  #branding a:hover {
    -webkit-transform: scale(1.333, 1.333);
    -moz-transform: scale(1.333, 1.333);
    -ms-transform: scale(1.333, 1.333);
    -o-transform: scale(1.333, 1.333);
    transform: scale(1.333, 1.333); }

#nav {
  position: relative;
  top: 48px;
  margin-bottom: 100px; }
  #nav:after {
    background: #fff;
    -webkit-box-shadow: inset 0 11px 8px -10px rgba(0, 0, 0, 0.24), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: inset 0 11px 8px -10px rgba(0, 0, 0, 0.24), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.24);
    box-shadow: inset 0 11px 8px -10px rgba(0, 0, 0, 0.24), inset 0px -11px 8px -10px rgba(0, 0, 0, 0.24);
    width: 100%;
    display: block;
    content: '.';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    font-size: 0;
    line-height: 0; }
  #nav ul {
    list-style: none;
    margin: 0;
    padding: 0.75em 0;
    position: relative; }
    #nav ul:after {
      content: ".";
      display: block;
      height: 0;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      clear: both; }
  #nav li {
    position: relative;
    z-index: 2;
    float: left;
    text-align: center;
    width: 20%;
    font-family: "LeagueGothic", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-size: 1rem; }
  #nav .clients {
    margin-left: 20%; }
  #nav a {
    display: block;
    text-decoration: none;
    color: #333;
    -webkit-transition: -webkit-transform 0.15s;
    -moz-transition: -moz-transform 0.15s;
    -ms-transition: -ms-transform 0.15s;
    -o-transition: -o-transform 0.15s;
    transition: transform 0.15s;
    border-bottom: 0 none; }
    #nav a:hover {
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      -webkit-transform: scale(1.333, 1.333);
      -moz-transform: scale(1.333, 1.333);
      -ms-transform: scale(1.333, 1.333);
      -o-transform: scale(1.333, 1.333);
      transform: scale(1.333, 1.333); }

/* 480 */
@media only screen and (min-width: 30em) {
  #branding a {
    width: 90px;
    height: 91px;
    margin-left: -45px;
    top: 26px; } }
/* 600 */
@media only screen and (min-width: 37.5em) {
  #branding a {
    width: 117px;
    height: 118px;
    margin-left: -58.5px;
    top: 25px; }

  #nav {
    margin-bottom: 120px; }
    #nav ul {
      padding: 1.25em 0; }
    #nav li {
      font-size: 24px;
      font-size: 1.5rem; } }
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  #branding a {
    background-image: url("/images/retina/logo.png"); } }
/* 1024 */
@media only screen and (min-width: 64em) {
  /*#accessibility {
    position: relative;
    &:after {
      background: url('/images/mobile/accessibility.png') no-repeat left center;
      height: 200px;
      width: 200px;
      position: absolute;
      left: -165px;
      top: 30px;
      display: block;
      content: ".";
      font-size: 0;
      line-height: 0;
    }
  }*/ }
/* 1440 */
@media only screen and (min-width: 90em) {
  /*#accessibility {
    &:after {
      left: -200px;
    }
  }*/ }
#client_Teladoc {
  background-image: url("/images/clients/teladoc.jpg"); }

#client_ZoomRank {
  background-image: url("/images/clients/zoomrank.jpg"); }

#client_Birken {
  background-image: url("/images/clients/birken.jpg"); }

#client_Centurion {
  background-image: url("/images/clients/centurion.jpg"); }

#client_LessWatts {
  background-image: url("/images/clients/lesswatts.jpg"); }

#client_Morgan {
  background-image: url("/images/clients/morgan.jpg"); }

#client_PattiShannon {
  background-image: url("/images/clients/patti.jpg"); }

#client_Rivela {
  background-image: url("/images/clients/rivela.jpg"); }

#client_WoodlandsMoving {
  background-image: url("/images/clients/woodlands.jpg"); }

#client_FKM {
  background-image: url("/images/clients/fkm.jpg"); }

#client_Phillips {
  background-image: url("/images/clients/phillips66.jpg"); }

#client_WM {
  background-image: url("/images/clients/wm.jpg"); }

#client_Vision {
  background-image: url("/images/clients/vision.jpg"); }

#client_WomansHospital {
  background-image: url("/images/clients/womanshospital.jpg"); }

#client_3M {
  background-image: url("/images/clients/3m.jpg"); }

#client_AMEX {
  background-image: url("/images/clients/amex.jpg"); }

#client_DQ {
  background-image: url("/images/clients/dq.jpg"); }

#client_Optum {
  background-image: url("/images/clients/optum.jpg"); }

#client_USBank {
  background-image: url("/images/clients/usbank.jpg"); }

.client-list {
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 24px;
  list-style: none;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 0; }
  .client-list:after {
    display: block;
    height: 0;
    content: ".";
    font-size: 0;
    line-height: 0;
    clear: both; }
  .client-list li {
    width: 100%;
    max-width: 300px;
    height: 144px;
    margin: 0 auto;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: #fff;
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    margin: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent; }

#pathway {
  margin-top: 20px;
  padding: 20px 0 40px 0;
  overflow: hidden; }
  #pathway a {
    width: 80px;
    display: block;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 1.5em;
    text-decoration: none;
    font-family: "LeagueGothic", Arial, sans-serif;
    font-size: 24px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #333;
    -webkit-background-size: 14px;
    -moz-background-size: 14px;
    -o-background-size: 14px;
    background-size: 14px;
    -webkit-transition: -webkit-transform 0.15s;
    -moz-transition: -moz-transform 0.15s;
    -ms-transition: -ms-transform 0.15s;
    -o-transition: -o-transform 0.15s;
    transition: transform 0.15s;
    border-bottom: 0 none; }
    #pathway a:hover {
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2); }

#next {
  float: right;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
  background: url("/images/retina/next.png") no-repeat 80% center;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%; }

#prev {
  float: left;
  text-align: right;
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  -ms-border-radius: 0 8px 8px 0;
  -o-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  background: url("/images/retina/prev.png") no-repeat 20% center;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%; }

/* 600 */
@media only screen and (min-width: 37.5em) {
  #pathway a {
    width: 150px; }

  #next, #prev {
    background-position: center center; } }
/* 768 */
@media only screen and (min-width: 48em) {
  #pathway a {
    width: 200px; }

  #next {
    background-position: 40% center; }

  #prev {
    background-position: 60% center; } }
/* 1024 */
@media only screen and (min-width: 64em) {
  #pathway {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 78px; }
    .touch #pathway {
      position: static; }
    #pathway a {
      width: 300px;
      padding: 2em; }

  #next {
    background-position: 30% center; }

  #prev {
    background-position: 70% center; } }
html {
  min-height: 100%; }

body {
  background: white url("/images/textured_background_tile.jpg") repeat 0 0; }
  body.debug {
    background-color: transparent, #fff;
    background-image: url("/images/vr-bg.png"), url("/images/textured_background_tile.jpg");
    background-repeat: repeat, repeat;
    background-position: 0 0, 0 0; }

body:after {
  content: 'mobile';
  display: none; }

.section {
  padding: 0 1em; }

.nbsp {
  white-space: nowrap; }

a {
  text-decoration: none;
  color: #ff0099;
  border-bottom: 1px dotted; }

/* 320 */
@media only screen and (min-width: 20em) {
  body:after {
    content: 'iphone-portrait'; } }
/* 480 */
@media only screen and (min-width: 30em) {
  body:after {
    content: 'iphone-landscape'; } }
/* 600 */
@media only screen and (min-width: 37.5em) {
  body:after {
    content: 'tablet-middle'; }

  .section {
    margin: 0 auto;
    max-width: 672px;
    max-width: 42rem; } }
/* 768 */
@media only screen and (min-width: 48em) {
  body:after {
    content: 'ipad-portrait'; } }
/* 1024 */
@media only screen and (min-width: 64em) {
  html {
    height: 100%; }

  body {
    min-height: 100%;
    position: relative; }

  .container {
    min-height: 100%;
    padding-bottom: 240px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  body:after {
    content: 'desktop'; } }
/* 1440 */
@media only screen and (min-width: 90em) {
  body:after {
    content: 'widescreen'; } }
